@model List<Food_Project.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category</h2>
<br />

@using (Html.BeginForm())
{
    
    <p>
        Food Name:@Html.TextBox("p")
        <input type="submit" value="Find" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Status</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/GetCategory/@item.CategoryId" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">New Category</a>
